<h2>Hello World</h2>
<p>
	The time is now: <%= Time.now %>
	<br>
	<b>Total: </b> <%= @total %>
	<br><%= @x.count %>
	<table>
		<thead>
			<th>Program</th>
			<th>Amount</th>
			<th>Percentage</th>
		</thead>
		<% @x.each do |y| %>
			<tr>
				<td><%= y[:title] %></td>
				<td><%= number_to_currency(y[:amount]) %></td>
				<td><%= number_to_currency(@total) %></td>
				<td><%= (y[:amount] * 100 / @total ) %></td>
				<td><%= number_to_percentage( (y[:amount].to_f * 100) / @total, precision: 5 ) %></td>

			</tr>
		<% end %>	
	</table>
</p>